*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color:white;
}
.div-footer__p-b{
    background-color:gray;
    border-radius: 0.2em;
    border: 1px solid white;
}
.div-titulo{
    font-size: 1px;
}
.div-titulo__h1{
    color:#f00;
    font-size: 50em;
    font-family: 'Roboto', Arial, sans-serif;
}
.div-titulo__h3{
    color:#f29;
    font-size: 20em;
    font-family: 'Open Sans', sans-serif;
}