*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background-color: #212529;
    color: #fff;
}
h1, h2, h3, h4, h5, h6{
    margin-top: 0;
    margin-bottom: 0.5rem;
}
h6{
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.nav{
position: fixed;
}
.div-footer__p-b{
    background-color:gray;
    border-radius: 0.2em;
    border: 1px solid white;
    box-shadow: 0.1em 0.4em 1.5em 0 white;
    text-shadow: 0.01em 0.04em 0.07em red;
}
.div-logo{
    display: inline-block;
}
.div-titulo{
    font-size: 1px;
    display: inline-block;
}
.div-titulo__h1{
    color:#f00;
    font-size: 50em;
    font-family: 'Roboto', Arial, sans-serif;
    display: inline-block;
}
.div-titulo__h3{
    color:#f29;
    font-size: 20em;
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
}
.div-nav{
    display: inline-block;
}
.div-nav__ul{
    display: inline-block;
}
.div-nav__ul-li{
    display: inline-block;
}
.div-aboutMe__a{   
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.div-aboutMe__a-button{
    outline: none;
    margin-top: 20px;
    font-size: 19px;
    border-radius: 10px;
    color: rgb(37, 46, 107);
    text-transform: none;
    height: 50px;

}
.div-aboutMe__a-button-h6{
    font-size: 1.25rem;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}